#svg {
    cursor: move;
}

svg {
    border: double 1px #aaaaff;
}


.link {
}

.node {
}

.node .selected {
    stroke-width: 3px;
}

.node rect {
    fill-opacity: .2;
    stroke: blue;
    stroke-width: 1px;
    stroke-opacity: .9;
}

.node text {
    pointer-events: none;
    font: 10px sans-serif;
}

