#svg {
    cursor: move;
}

.link {
}

.node {
    cursor: pointer;
}

.node rect {
    fill-opacity: .2;
    stroke: blue;
    stroke-width: 1px;
    stroke-opacity: .9;
}

.node text {
    pointer-events: none;
    font: 10px sans-serif;
}
